<h1>New Category</h1>

<%= form_for(@category) do |c| %>
	<%= c.text_field :titre %> 
    <%= c.text_field :description %>
    <%= c.submit "Create" %>
    <% end %>
<%= link_to 'Back', categories_path %>